<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>About Us</span></div>
                <ul>
                    <li>
                        Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text ... <a href="#">Read More</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Information</span></div>
                <ul>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">FAQ</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Policy Privacy</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Terms and Conditions</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Shipping Methods</a></li>
                </ul>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Categories</span></div>
                <ul>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Sample Text</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Sample Text Sample Text</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Sample Text</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Sample Text Sample Text</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Newsletter</span></div>
                <p>Sample Text Sample TextSample Text Sample Text Sample Text Sample Text. Sample Text, Sample Text, Sample Text, Sample Text Sample Text</p>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Email Address">
                    <span class="input-group-btn">
                        <button class="btn btn-default subscribe-button" type="button">Subscribe</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Our Store</span></div>
                <ul class="footer-icon">
                    <li><span><i class="fa fa-map-marker"></i></span>183 B Yorkshire Street, Rochdale, OL12 0DR</li>
                    <li><span><i class="fa fa-phone"></i></span>07440392000</li>
                    <li><span><i class="fa fa-envelope"></i></span> <a href="mailto:info@cctvwarehouse.co.uk">info@cctvwarehouse.co.uk</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Follow Us</span></div>
                <p>Sample Text Sample TextSample Text Sample Text Sample Text Sample Text. </p>
                <ul class="follow-us">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Payment Method</span></div>
                <p>Sample Text Sample TextSample Text Sample Text Sample Text Sample Text. Sample Text, Sample Text, Sample Text, Sample Text Sample Text</p>
                <img src="~/images/payment-1.png" alt="Payment-1">
                <img src="~/images/payment-2.png" alt="Payment-2">
                <img src="~/images/payment-3.png" alt="Payment-3">
                <img src="~/images/payment-4.png" alt="Payment-4">

            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>My Account</span></div>
                <ul>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Orders</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center copyright">
        Copyright &copy; 2017 CCTV-Warehouse All Right Reserved | <a href="#">Powered By Ranglerz Digital Marketing</a>
    </div>
</div>