<!-- Top Header -->
@Html.Partial("header")
<!-- End Top Header -->
<!-- Middle Header -->
<!-- End Middle Header -->
<!-- Navigation Bar -->
<nav class="navbar navbar-default shadow-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="btn btn-default btn-cart-xs visible-xs pull-right">
                <i class="fa fa-shopping-cart"></i> Cart : 4 items
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">CCTV Kits</a></li>
                <li><a href="#">AHD Kits</a></li>
                <li><a href="#">TVI Kits</a></li>
                <li><a href="#">FULL HD</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Clearance</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact us</a></li>

                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Pages <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-detail.html">Blog Detail</a></li>
                            <li><a href="checkout2.html">Checkout v2</a></li>
                            <li><a href="compare.html">Compare</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="detail.html">Product Detail</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Submenu</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Submenu Link 1</a></li>
                                    <li><a href="#">Submenu Link 2</a></li>
                                    <li><a href="#">Submenu Link 3</a></li>
                                    <li><a href="#">Submenu Link 4</a></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Submenu</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sub Submenu Link 1</a></li>
                                            <li><a href="#">Sub Submenu Link 2</a></li>
                                            <li><a href="#">Sub Submenu Link 3</a></li>
                                            <li><a href="#">Sub Submenu Link 4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                                <ul class="dropdown-menu">
                                    <li><a href="account-profile.html">My Profile</a></li>
                                    <li><a href="account-address.html">My Address</a></li>
                                    <li><a href="account-history.html">Order History</a></li>
                                    <li><a href="account-password.html">Change Password</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>*@
                @*<li class="dropdown mega-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Mega Menu <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="list-unstyled">
                                                <li><p><strong>Menu Title</strong></p></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="list-unstyled">
                                                <li><p><strong>Menu Title</strong></p></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="list-unstyled">
                                                <li><p><strong>Menu Title</strong></p></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="list-unstyled">
                                                <li><p><strong>Menu Title</strong></p></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>*@
            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation Bar -->
<!-- Full Slider -->


<div class="clearfix"></div>
<div>&nbsp;</div>
<div class="container">
    <div class="row ">





        <div class="col-md-2">
            <div class="title"><a data-toggle="collapse" href="#collapse1">HD CCTV </a></div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">CCTV Tester</a></li>
                    <li class="list-group-item">&raquo; <a href="#">CCTV Tools</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>
            <div class="title"><a data-toggle="collapse" href="#collapse2"> CCTV KITS</a></div>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">Type1</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type2</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>

            <div class="title"><a data-toggle="collapse" href="#collapse3">ACCESSORIES </a></div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">Type1</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type2</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>
            <div class="title"><a data-toggle="collapse" href="#collapse4">MONITORS </a></div>
            <div id="collapse4" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">Type1</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type2</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>
            <div class="title"><a data-toggle="collapse" href="#collapse5">RECORDER</a></div>
            <div id="collapse5" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">Type1</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type2</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>
            <div class="title"><a data-toggle="collapse" href="#collapse6">VEHICLE CCTV</a></div>
            <div id="collapse6" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">Type1</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type2</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>
            <div class="title"><a data-toggle="collapse" href="#collapse7">ALARM SYSTEMS</a></div>
            <div id="collapse7" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">Type1</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type2</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>
            <div class="title"><a data-toggle="collapse" href="#collapse8">DOOR ACCESS</a></div>
            <div id="collapse8" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">Type1</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type2</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>
            <div class="title"><a data-toggle="collapse" href="#collapse9">LED LIGHTS </a></div>
            <div id="collapse9" class="panel-collapse collapse">
                <ul class="list-group list-group-nav">
                    <li class="list-group-item">&raquo; <a href="#">Type1</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type2</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type3</a></li>
                    <li class="list-group-item">&raquo; <a href="#">Type4</a></li>

                </ul>
            </div>
            <div class="clearfix"></div>
            <div>&nbsp; &nbsp; &nbsp; &nbsp;</div>
            <div>&nbsp; &nbsp; &nbsp; &nbsp;</div>
            <div>&nbsp; &nbsp; &nbsp; &nbsp;</div>

            <div class="" style="background-color:#f5f5f5; padding:20px; border-radius:5px">
                <div class="title"><span>Quick Contact</span></div>
                <div class="row">
                    <div class="col-xs-12">
                        <form>
                            <div class="form-group">
                                <label for="oldInputPasswd">Name</label>
                                <input type="text" class="form-control" id="oldInputPasswd" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="oldInputPasswd">Contact#</label>
                                <input type="text" class="form-control" id="oldInputPasswd" placeholder="Contact">
                            </div>
                            <div class="form-group">
                                <label for="newInputPasswd">Email</label>
                                <input type="email" class="form-control" id="newInputPasswd" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="retypeInputPasswd">Message</label>
                                <textarea style="height:120px" row="5" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default btn-theme"><i class="fa fa-check"></i> Send</button>
                        </form>
                    </div>
                </div>
            </div>




        </div>


        <div class="col-md-8">
            <div class="home-slider">
                <div class="item">
                    <a href="#"><img src="~/images/banner 1.gif" alt="Slider"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="~/images/banner 2.png" alt="Slider"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="~/images/banners 3.jpg" alt="Slider"></a>
                </div>
            </div>

            <div class="clearfix"></div>
            <div>&nbsp;</div>

            <!-- Featured -->
            <div class="title"><span>Featured Products</span></div>
            <div class="col-sm-4 col-lg-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#">
                            <img alt="Product" src="~/images/camera new 2.jpg" height="200">
                        </a>


                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#">CCTV HD</a></h6>
                    <div class="price">
                        <div>$13.50 <span class="label-tags"></span></div>
                        <span class="price-old">$15.00</span>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#">
                            <img alt="Product" src="~/images/Camera HD.jpg" height="200">
                        </a>

                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#">Camera</a></h6>
                    <div class="price">
                        <div>$13.50 <span class="label-tags"></span></div>
                        <span class="price-old">$15.00</span>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#">
                            <img alt="Product" src="~/images/CCTV.jpg" height="200">
                        </a>

                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#">CCTV</a></h6>
                    <div class="price">
                        <div>$13.50 <span class="label-tags"></span></div>
                        <span class="price-old">$15.00</span>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#">
                            <img alt="Product" src="~/images/Intercom.png" height="200">
                        </a>

                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#">Intercom</a></h6>
                    <div class="price">
                        <div>$13.50 <span class="label-tags"></span></div>
                        <span class="price-old">$15.00</span>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#">
                            <img alt="Product" src="~/images/4-Camera-Varifocal-1080-HD-TVI-complete-package-for-website.png" height="200">
                        </a>

                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#">CCTV Kits</a></h6>
                    <div class="price">
                        <div>$13.50 <span class="label-tags"></span></div>
                        <span class="price-old">$15.00</span>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#">
                            <img alt="Product" src="~/images/Alaram Systems.png" height="200">
                        </a>

                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#">Alarm System</a></h6>
                    <div class="price">
                        <div>$13.50 <span class="label-tags"></span></div>
                        <span class="price-old">$15.00</span>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#">
                            <img alt="Product" src="~/images/hikvison-turbo-hd3.jpg" height="200">
                        </a>

                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#">LED</a></h6>
                    <div class="price">
                        <div>$13.50 <span class="label-tags"></span></div>
                        <span class="price-old">$15.00</span>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-3 box-product-outer">
                <div class="box-product">
                    <div class="img-wrapper">
                        <a href="#">
                            <img alt="Product" src="~/images/Door Acces System.png" height="200">
                        </a>

                        <div class="option">
                            <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <h6><a href="#">Door Access System</a></h6>
                    <div class="price">
                        <div>$13.50 <span class="label-tags"></span></div>
                        <span class="price-old">$15.00</span>
                    </div>

                </div>
            </div>
            <!-- End Featured -->

            <div class="clearfix"></div>
            <div>&nbsp;</div>


            <!-- Collection -->
            <div class="title m-t-2"><span>Latest Products</span></div>
            <div class="product-slider owl-controls-top-offset">
                <div class="box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/HDtv Kits.png" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">HDTV Kits</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
                <div class="box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/led 2.png" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">LED HD</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
                <div class="box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/Intercom.png" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">Intercom</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
                <div class="box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/camera new.png" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">HD Camera</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
                <div class="box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/CCTV2.jpg" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">CCTV</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
                <div class="box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/4-Camera-Varifocal-1080-HD-TVI-complete-package-for-website.png" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">CCTV HD</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Collection -->

            <div class="clearfix"></div>

            <!-- Latest Collection -->
            @*<div class="title"><span>Top Rated Products</span></div>
                <div class="col-sm-4 col-lg-3 box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/Camera HD.jpg" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">Camera</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/hikvison-turbo-hd3.jpg" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">CCTV HD</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/led 2.png" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">LED</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="#">
                                <img alt="Product" src="~/images/monitor.jpg" height="200">
                            </a>

                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>

                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="#">Monitor</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"></span></div>
                            <span class="price-old">$15.00</span>
                        </div>

                    </div>
                </div>*@

            <!-- End Latest Collection -->


        </div>



        <div class="col-md-2">


            <div class="" style="background-color:#f5f5f5; padding:20px; border-radius:5px;height:285px">
                <div class="title"><span>Registered As</span></div>
                <div class="row">
                    <div class="col-xs-12">
                        <form action="@Url.Action("Register","Home")" method="get">
                            <button type="submit" class="btn btn-default btn-block btn-theme"><i class="fa fa-user"></i>&nbsp; Normal</button>
                            &nbsp;
                            <button type="submit" class="btn btn-default btn-block btn-theme"><i class="fa fa-key"></i>&nbsp; Premium</button>
                            &nbsp;
                            <button type="submit" class="btn btn-default btn-block btn-theme"><i class="fa fa-gbp"></i>&nbsp; Trader</button>
                        </form>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>

            <div class="clearfix"></div>


            <div class="box-product">
                <div class="img-wrapper">
                    <a href="#">
                        <img alt="Product" src="~/images/latest-software.png" height="243">
                    </a>

                    <div class="option">

                        <a href="#" data-toggle="tooltip" title="Click Here to Download"><i class="fa fa-download"></i></a>

                    </div>
                </div>

            </div>
            &nbsp;
            <h6 class="title"><a href="#"><strong>Software Drivers</strong></a></h6>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>

            <div class="clearfix"></div>
            <div>&nbsp;</div>
            <div class="box-product">
                <div class="img-wrapper">
                    <a href="#">
                        <img alt="Product" src="~/images/remote support.png" height="250">
                    </a>
                    <div class="option">

                        <a href="#" data-toggle="tooltip" title="Click here for Support"><i class="fa fa-support"></i></a>

                    </div>

                </div>



            </div>
            &nbsp;
            <h6 class="title"><a href="#"><strong> Remote Support</strong></a></h6>

            <div class="clearfix"></div>
            <div>&nbsp;</div>
            <div class="box-product">
                <div class="img-wrapper noeffect">
                    <a href="#">
                        <img alt="Product" src="~/images/reviews.jpg">
                    </a>
                    <div class="option">

                        <a href="#" data-toggle="tooltip" title="Add Comment"><i class="fa fa-comment"></i></a>

                    </div>

                </div>



            </div>


        </div>

    </div>
</div>

<!-- End Full Slider -->
<!-- Main Content -->
<div class="container m-t-2">
    <div class="row">

        <!-- New Arrivals & Best Selling -->
        <!--<div class="col-md-3 m-b-1">
          <div class="title"><span><a href="products.html">New Arrivals <i class="fa fa-chevron-circle-right"></i></a></span></div>
          <div class="widget-slider owl-controls-top-offset m-b-2">
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="detail.html">
                    <img alt="Product" src="images/demo/p1-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><a href="products.html"><span class="label label-success arrowed-right">New Arrivals</span></a></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="detail.html">WranglerGrey Printed Slim Fit Round Neck T-Shirt</a></h6>
                <div class="price">
                  <div>$15.00</div>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="detail.html">
                    <img alt="Product" src="images/demo/p2-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><a href="products.html"><span class="label label-success arrowed-right">New Arrivals</span></a></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="detail.html">CelioKhaki Printed Round Neck T-Shirt</a></h6>
                <div class="price">
                  <div>$15.00</div>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="detail.html">
                    <img alt="Product" src="images/demo/p3-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><a href="products.html"><span class="label label-success arrowed-right">New Arrivals</span></a></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="detail.html">CelioOff White Printed Round Neck T-Shirt</a></h6>
                <div class="price">
                  <div>$15.00</div>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="detail.html">
                    <img alt="Product" src="images/demo/p4-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><a href="products.html"><span class="label label-success arrowed-right">New Arrivals</span></a></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="detail.html">Levi'sNavy Blue Printed Round Neck T-Shirt</a></h6>
                <div class="price">
                  <div>$15.00</div>
                </div>
              </div>
            </div>
          </div>
          <div class="title"><span><a href="products.html">Best Selling <i class="fa fa-chevron-circle-right"></i></a></span></div>
          <div class="widget-slider owl-controls-top-offset">
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="detail.html">
                    <img alt="Product" src="images/demo/p5-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><span class="label label-primary arrowed-right">Popular</span></span>
                    <span class="label-tags"><span class="label label-default arrowed-right">Top Week</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="detail.html">IncultAcid Wash Raglan Crew Neck T-Shirt</a></h6>
                <div class="price">
                  <div>$13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                  <span class="price-old">$15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="detail.html">
                    <img alt="Product" src="images/demo/p6-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><span class="label label-primary arrowed-right">Popular</span></span>
                    <span class="label-tags"><span class="label label-default arrowed-right">Top Week</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="detail.html">Avoir EnvieOlive Printed Round Neck T-Shirt</a></h6>
                <div class="price">
                  <div>$13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                  <span class="price-old">$15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="detail.html">
                    <img alt="Product" src="images/demo/p7-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><span class="label label-primary arrowed-right">Popular</span></span>
                    <span class="label-tags"><span class="label label-default arrowed-right">Top Week</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="detail.html">ElaboradoBrown Printed Round Neck T-Shirt</a></h6>
                <div class="price">
                  <div>$13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                  <span class="price-old">$15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="detail.html">
                    <img alt="Product" src="images/demo/p4-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><span class="label label-primary arrowed-right">Popular</span></span>
                    <span class="label-tags"><span class="label label-default arrowed-right">Top Week</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="detail.html">Levi'sNavy Blue Printed Round Neck T-Shirt</a></h6>
                <div class="price">
                  <div>$13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                  <span class="price-old">$15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <!-- End New Arrivals & Best Selling -->

        <div class="clearfix visible-sm visible-xs"></div>

        <div class="col-md-9">



            <div class="clearfix visible-sm visible-xs"></div>



        </div>

    </div>

    <!-- Brand & Clients -->
    <div class="row">
        <div class="col-xs-12 m-t-1">
            <div class="title text-center"><span>Brand & Clients</span></div>
            <div class="brand-slider owl-controls-top-offset">
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand1.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand2.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand3.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand4.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand2.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand1.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand2.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand3.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand4.png" alt=""></a>
                </div>
                <div class="brand">
                    <a href=""><img src="~/images/demo/brand1.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand & Clients -->

</div>
<!-- End Main Content -->
<!-- Footer -->
@Html.Partial("footer")

<!-- End Footer -->

<a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
    <i class="fa fa-angle-double-up"></i>
</a>

@*<div class="chooser chooser-hide">
        <div class="chooser-toggle"><button class="btn btn-warning" type="button"><i class="fa fa-paint-brush bigger-130"></i></button></div>
        <div class="chooser-content">
            <label>Color</label>
            <select name="color-chooser" id="color-chooser" class="form-control input-sm selectpicker">
                <option value="indigo">Indigo</option>
                <option value="red">Red</option>
                <option value="teal">Teal</option>
                <option value="brown">Brown</option>
            </select>
            <label class="m-t-1">Style</label>
            <select name="style-chooser" id="style-chooser" class="form-control input-sm selectpicker">
                <option value="flat">Flat</option>
                <option value="rounded">Rounded</option>
            </select>
        </div>
    </div>*@


